body{
    background-color:rgb(211, 231, 248);
}

form{
    margin:0 auto;
    width: 400px;
    padding: 1em;
    border:2px solid rgb(247, 159, 207);
    border-radius:1em;
}

form div{
    margin-top:1em;
}

label{
    display:inline-block;
    width:90px;
    text-align:right;
}

.button{
    padding-left:50px;
    padding-right:50px;
    
}

button{
    margin: .50em;
}